easy-tree > div {
  width: 100%;
  min-height: 200px;
  background: #FFFFFF;
  border: 1px dashed #CCCCCC;
  padding: 0 15px 15px 0px;
}

easy-tree easy-tree-child > div {
  padding-left: 15px;
}

easy-tree easy-tree-child .easy-tree-item-child {
  width: 100%;
  min-height: 40px;
  color: #666;
  text-decoration: none;
  background-color: #f5f5f5;
  font-weight: 600;
  margin: 15px 0 0 0px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid transparent;
}

easy-tree easy-tree-child .easy-tree-item-child .glyphicon-chevron-down{
  padding: 6px 5px 5px 6px;
}

easy-tree easy-tree-child .easy-tree-item-child .glyphicon-chevron-right{
  padding: 5px 5px 5px 5px;
}

/*easy-tree easy-tree-child .easy-tree-item-child .glyphicon-chevron-right:hover{
  transition: 0.5s;
  transform: rotate(90deg);
  padding: 5px 5px 5px 5px;
}*/

easy-tree easy-tree-child .easy-tree-item-child .glyphicon-chevron-right, easy-tree easy-tree-child .easy-tree-item-child .glyphicon-chevron-down{
  margin: 0 0px 0 10px;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}

easy-tree easy-tree-child .easy-tree-item-child .glyphicon-chevron-right:hover, easy-tree easy-tree-child .easy-tree-item-child .glyphicon-chevron-down:hover{
  background: rgba(97, 95, 95, 0.12);
}

easy-tree easy-tree-child .gumga-tree-over {
  border: 1px dashed #858585;
}

easy-tree easy-tree-child .gumga-tree-opacity {
  opacity: 0.4;
}

easy-tree .easy-tree-item-child > ng-transclude {
  padding: 10px;
}

